* {
    font-family: 'Oxygen', sans-serif;    
    text-align: center;
    font-size: 14px;
}

#container {
    display: flex;
    flex-direction: row;
}

h2 {
    font-family: 'Courgette', cursive;
    font-size: 30px;
    font-weight: 400;
    color: rgb(3, 88, 88);
    margin: 15px 0;
    margin-top: 0;
    text-shadow: 3px 3px 3px #8b8a8a;
}

h2 a {    
    text-decoration: none;    
    text-transform: uppercase;
    font-size: 30px;
}

h2 a:hover {
    color: #228B22;
    text-decoration: none;
}

body {    
    background-color: #FFEBCD;
}

#game-area{
    display: flex;
    flex-direction: row;    
}

#canvas {        
    justify-content: center;
    background-image: url(./images/tree.png);
    background-size: 1200px;
    background-position: 30% 70%;
    border: 1px solid rgb(3, 88, 88);
    border-radius: 15px;
    margin-left: 30px;
}

#start-page {
    width: 30%;
    height: 90%;   
    background-color: #d0d48d;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: center;
    margin: 20px 0 10px 20px;
    padding: 0;
}

h3 {
    color: #B22222;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0;
}

body button {
    text-transform: uppercase;
    font-size: 18px;
    color: #191970;
    background-color: #b1a9a9;
    border: 0;
    border-radius: 10px;    
    padding: 5px 10px;
    margin: 0;
}

body button:hover {
    color: #fff;
    background-color: #5a742d;
}

.hungry {    
    width: 80%;
    font-size: 14px; 
    margin: 10px;
    margin-bottom: 0;
    padding: 0 15px;    
}

.idea {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.idea p {
    margin-bottom: 4px;
}

.to-catch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.instructions {    
    height: 400px;
    padding: 0 15px;
    padding-bottom: 10px;
    justify-content: space-evenly;
}

body p{
    margin: 5px 0;
}

img {
    width: 14%;
    margin: 0;
}

.arrow-keys{
    width: 25%;
}

.lamp-idea, .basket {
    width: 20%;
}

.apple-pie {
    width: 38%;    
}

.poisoned {
    width: 12%;
    margin-top: 5px;
}

h4 {
    text-transform: uppercase;
    color: rgb(3, 88, 88);
    font-size: 15px;
    margin-top: 8px;
}

@media (max-width: 1920px) { 
    #start-page {
        height: 900px;
    }
    
@media (min-width: 880px) { 
    #start-page {
        height: 900px;
    }
}
